body {
    margin: 0;
    overflow: hidden;
    background-color: #00000093;
}
canvas {
    display: block;
}body {
    margin: 0;
    overflow: hidden;
    background-color: #000000af;
}
canvas {
    display: block;
}